<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav id="header" class="navbar py-2 navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand px-4" href="#">Student Enrollment System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse py-50" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Student</a>
            <a class="nav-item nav-link active" href="/instructor">Instructor</a>
            <a class="nav-item nav-link active" href="/enrollment">Enrollment</a>
            <a class="nav-item nav-link active" href="/grade">Grade</a>
            <a class="nav-item nav-link active" href="/course">Course</a>
            <a class="nav-item nav-link active" href="/semester">Semester</a>
            <a class="nav-item nav-link active" href="/payment">Payment</a>
            <a class="nav-item nav-link active" href="/notification">Notification</a>
          </div>
        </div>
      </nav>
      <script src="header.js"></script>
</body>
</html>